section.unique {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.2);
}

div.unique__container,
div.offer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}
.offer h4{
    margin: 15px 0;
}
.offer p{
    margin: 15px 0;
}
.uniques {
    background-color: var(--color-bg);
    text-align: center;
    padding: 10px;
    transition: var(--transition);
}

.uniques:hover {
    background: transparent;
    border: 2px solid var(--color-bg);
}


@media screen and (max-width:600px) {
    div.unique__container,
    div.offer__container {
        grid-template-columns: 1fr;
    }
}